@import "bootstrap";

.navbar-custom { background-color: rgb(197, 238, 210) !important; }

.jumbotron {
  background-image: asset-url('cover-image2.jpg');
  background-size: cover;
//   text-align: center;
}

.jumbotron h1, .jumbotron p, .jumbotron button {
    color: #fff;
    // text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo {
  float:left;
  font-size: 1.7em;
  color: rgb(16, 133, 121);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(24, 167, 152);
  text-decoration: none;
}
